/* 분석 css 시작 */
#periodcheck{
    display: flex;
    justify-content: center;
    margin: auto;
}
#periodcheck button{
    margin: 5px;
}
/* 파이차트 시작 */
#chart01{

    display: flex;
    flex-direction: row;
    justify-content: center;
}
#pieblock{
    display: flex;
}
#piepie{
    float: left;
}
#piepie2{
    float: left;
}
#chartLegend{
    display: flex;
    justify-content: center;  
    align-items: center;      
    width: 100%;              
    flex-wrap: wrap;  
    margin-top: 50px;
}
/* 파이차트 끝 */

#customMsg{
    margin: 50px;
    width: 100px;
    height: 100px;
    background-color: aqua;
    flex: 0 0 auto; /* Does not grow, does not shrink, auto basis */
    margin-left: 10%; /* Pushes it to the right */
    width: 100px;
    height: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

#fakecontent{
}

#firstrow{
    display: flex;
    justify-content: center;
    align-items: center; 
}

#secondrow{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#thridrow{
    display: flex;
    justify-content: center;
}
#monthgoal{
    width: 300px;
    height: 100px;
    background-color: aqua;
    margin-right: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
}
#currentsituation{
    width: 300px;
    height: 100px;
    background-color: black;
    align-items: center;
    justify-content: center;
    display: flex;
}

#newscontent{
    width: 500px;
    height: 100px;
    margin-top: 100px;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    display: flex;
    
}
/* 사이드바 시작*/
.sidebar {
        width: 300px;
        background-color: #333;
        color: #fff;
        height: 100vh;
}
      
      .logo {
        padding: 20px;
        font-size: 20px;
        font-weight: bold;
        border-bottom: 1px solid #444;
      }
      
      nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
      }
      
      nav li {
        padding: 15px 20px;
        border-bottom: 1px solid #444;
      }
      
      nav li:last-child {
        border-bottom: none;
      }
      
      nav a {
        color: #fff;
        text-decoration: none;
        display: flex;
        align-items: center;
      }
      
      nav a i {
        margin-right: 10px;
      }
      
    .sidebar.hidden {
        width: 0;
        overflow: hidden;
        transition: width 0.5s ease;
    }

    .content.expanded {
        margin-left: 0;
        transition: margin-left 0.5s ease;
    }
/* 사이드바 끝 */

/* 네비게이션 바 시작 */
#navheader {
    
}

#navheader {
    background-color: #f3f6f9;
    padding: 20px;
  }
  
  #navheader nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #navheader .logo {
    width: 100px;
    height: 50px;
    background-color: #ddd;
    margin-right: 20px;
  }
  
  #navheader nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: center;
  }
  
  #navheader nav li {
    margin: 0 20px;
  }
  
  .content1 {
    margin-left: 100px;
  }
  
  .content2 {
    margin-left: 300px;
  }

  .content3 {
    margin-left: 300px;
  }
  
  .content4 {
    margin-left: 300px;
    background-color: red;
  }
  
  #navheader nav a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }
  
  #navheader nav a:hover {
    color: #000;
  }
/* 네비게이션 바 끝 */
  

/* 달력 모달 시작 */
  #onerow {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    margin: auto; 
  }

#onrowlabel {
    width: 50px; 
    height: 50px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-right: 10px; 
    text-align: center; 
}

#onerowinput {
display: flex;
align-items: center; 
width: 100%; 
}

#eventModalSelect, #eventModalIoc {
flex: 1; 
}

#onerowinput #eventModalSelect{
width: 50px;
}
.form-select, .form-control {
margin: 0 5px; 
}
.selectSize{
width: 100px !;
}
/* 달력 모달 끝 */

#username{
  display: flex;
}

.duplicateBtn{
  margin-left: 10px;
  height: 40px;
  width: 15%;
}

.colorD9{
  background-color: #D9D9D9;
}

.inputbox{
  height: 40px;
  
}

.dupnone{
  width: 85%;
}

.colorAAA{
  background-color: #AAAAAA;
}

.radsetcss{
  margin-left: 30px;
}

.marginfix{
  /* padding-left: 7rem !important; */
}

.updatefix{
  align-items: center;
}

#survey{
  /* display: none;  */
}

#duptext{
  font-size: 10px;
}